.dashboardMainDiv
{
    background-color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}


.dashboardInnerDiv
{    
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}


.dashboardHeader
{
    background-color: #50A6C2;
    height: 12vh;
    width: 100%;
    margin-bottom: 1%;
    align-items: center;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    box-shadow: 0 8px 6px -6px black;
}

.dashboardLogoImg{
  align-items: center;
  display: flex;
  height: fit-content;
  width: 8%;
}
.dashboardLogoPic{
  height: 10vh;
  width: 100%;
}


.dashboardHeaderHeading{
  align-items: center;
  display: flex;
  height: fit-content;
  width: 20%;
}

.dashboardHeading{
  height: 9vh;
  width: 100%;
}

.dashboardLogout{
  height: 10vh;
  width: 10%;
  display: flex;
  align-items: center;
  margin-right: 3vh;
}

.dashboardLogoutButtonRipples
{
    background-color: none;
    color: black;
    height: 5.6vh;
    width: 100%;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    box-shadow: 0 8px 6px -6px black;
}

.dashboardLogoutButton
{
    border-color: #0D3AA9;
    border-width: 3px;
    background-color: white;
    color: black;
    height: 5.5vh;
    width: 100%;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
}

.dashboardFooter
{
    background-color: #50A6C2;
    height: 84vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0 8px 6px -6px black;
}


.dashboardBoxLeft{
  height: 80vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dashboardBoxCenter{
  height: 80vh;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardBoxRight{
  height: 80vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fineBox
{
    border: 0.5vh solid #0D3AA9;
    background-color: white;
    height: 38vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 6vh ;
    border-bottom-right-radius: 6vh ;
}

.fineBox:hover {
  opacity: 0.8;
}

.finepic{
  background-color: white;
  height: 31vh;
  width: 100%;
  border-top-left-radius: 6vh ;
}

.fineBoxImg {
  border-top-left-radius: 5.3vh ;
  height: 31vh;
  width: 100%;
  }

.fineText{
    background-color: white;
    font-size: 5vh;
    font-weight: bold;
    color: #026d79;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 6vh ;
  }


  .queryBox
{
  border: 0.5vh solid #0D3AA9;
  background-color: white;
    height: 38vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 6vh ;
    border-bottom-right-radius: 6vh ;
}

.queryBox:hover {
  opacity: 0.8;
}

.querypic{
  height: 31vh;
  width: fit-content;
}

.queryBoxImg {
  height: 31vh;
  width: 100%;
  border-top-left-radius: 6vh ;
  }

  .queryText{
    background-color: white;
    font-size: 5vh;
    font-weight: bold;
    color: #026d79;
    height:fit-content;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 6vh ;
  }


  .relaxingBox
  {
    border: 0.5vh solid #0D3AA9;
      background-color: white;
      height: 59vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
      border-top-left-radius: 6vh ;
      border-bottom-right-radius: 6vh ;
  }
  
  .relaxingBox:hover {
    opacity: 0.8;
  }
  
  .relaxingPic{
    height: 51vh;
    width: fit-content;
  }
  
  .relaxingBoxImg {
    height: 51vh;
    width: 100%;
    border-top-left-radius: 5.6vh ;
    }
  
  .relaxText{
      background-color: white;
      font-size: 5vh;
      font-weight: bold;
      color: #026d79;
      height:fit-content;
      display: flex;
      justify-content: center;
      border-bottom-right-radius: 6vh ;
    }


.zoneBox
{
    background-color: white;
    border: 0.5vh solid #0D3AA9;
    height: 38vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 6vh ;
    border-bottom-right-radius: 6vh ;
}

.zoneBox:hover {
  opacity: 0.8;
}

.zonepic{
  height: 31vh;
  width: fit-content;
}


.zoneBoxImg {
  height: 31vh;
  width: 100%;
  border-top-left-radius: 5.8vh ;
}

.zoneText{
  background-color: white;
  font-size: 5vh;
  font-weight: bold;
  color: #026d79;
  height:fit-content;
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 6vh ;
}

  .signupBox
{
  border: 0.5vh solid #0D3AA9;
  background-color: white;
    height: 38vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 6vh ;
    border-bottom-right-radius: 6vh ;
}

.signupBox:hover {
  opacity: 0.8;
}

.signupPic{
  height: 31vh;
  width: fit-content;
}

.signupBoxImg {
  height: 31vh;
  width: 100%;
  border-top-left-radius: 6vh ;
  }

  .signupText{
    background-color: white;
    font-size: 5vh;
    font-weight: bold;
    color: #026d79;
    height:fit-content;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 6vh ;
  }

