.mainPage
{
    /* background-color: aqua; */
    background-image: url('./images/background.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}


.innerPage
{
    background-color: none;
    height: 100vh;
    width: 1300px;
    /* justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
}


.headerBox
{
    background-color: lightgrey;
    height: 14vh;
    width: 100%;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.inputBox
{
     /* background-color: green; */
     height: 5vh;
     width: 25%; 
     /* border-bottom: 0.4vh solid #0D3AA9; */
     display: flex;
     align-items: center;
     justify-content: center;
}

.input
{
    background-color: white;
    width: 80%;
    height: 4.5vh;
    font-size: 2vh;
    border: 0;
    outline: none;
    color: #37352f;
    text-indent: 2%;
    border-bottom: 0.4vh solid #0D3AA9;
}

.searchBar      /*Autoplaces Complete Input*/
{
    background-color: pink;
    /* margin-top: 10%; */
    /* margin-bottom: 2%; */
    height: 5vh;
    width: 60%;
    position: sticky;
}

.addButton
{
    background-color: #0D3AA9;
    color: white;
    height: 5.3vh;
    width: 10%;
    border: #0D3AA9;
    border-radius: 10vh;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    /* position: relative; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 20px;
}


.footerBox
{
    /* background-color: red; */
    height: 85vh;
    width: 100%;
    /* /* justify-content: center;
    align-items: center; */
    display: flex;
}



.listBox
{
    background-color: lightgrey;
    height: 85vh;
    width: 40%;
    /* justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; */
    position: static;
}

.deleteButton
{
    background-color: #889dd1;
    color: white;
    height: 5vh;
    width: 20%;
    border: #889dd1;
    border-radius: 5vh;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5vh;
    margin-left: 75%;
}

.mapBox
{
    /* background-color: blanchedalmond; */
    height: 85vh;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: unset;
    
}


.location-search-input{
    font-family: 'Lato', sans-serif;
    width: 30%;
    height: 5vh;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    /* margin-top: 300px; */
    margin-left: 5rem;
  
  }
  
  .input-suggestion{
    font-family: 'Lato', sans-serif;
    width: 30%;
    height: 5vh;
    background-color: white;
    border-bottom: 1px black dotted;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    /* margin-left: 5rem; */
  }