.queryMainDiv
{
  background-color: white;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}


.queryInnerDiv
{
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}


.queryHeader
{
  background-color: #50A6C2;
  height: 12vh;
  width: 100%;
  margin-bottom: 1%;
  align-items: center;
  justify-content:space-between;
  display: flex;
  flex-direction: row;
  box-shadow: 0 8px 6px -6px black;
}

.queryLogoImg{
  margin-left: 3vh;
  height: fit-content;
  width: 5%;
}

.queryLogoPic{
  height: 9vh;
  width: 100%;
}

.queryLogout{
  height: 10vh;
  width: 10%;
  display: flex;
  align-items: center;
  margin-right: 3vh;
}

.queryLogoutButtonRipples
{
  background-color: none;
  color: black;
  height: 5.6vh;
  width: 100%;
  cursor: pointer;
  outline: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2.5vh;
  box-shadow: 0 8px 6px -6px black;
}

.queryLogoutButton
{
  border-color: #0D3AA9;
  border-width: 3px;
  background-color: white;
  color: black;
  height: 5.5vh;
  width: 100%;
  cursor: pointer;
  outline: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2.5vh;
}

.queryFooter
{
    height: 84vh;
    width: 100%;
     justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 8px 6px -6px black;
}

.query
{
    background-color: #50A6C2;
    border: 0.4vh solid #026e7a;
    height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.queryListInnerContainer
{
  height: 99%;
  width: 100%; 
  overflow-y: scroll;
  overflow-x: hidden;
}

.queryListRows
{
  height: 8%; 
  width: 99%; 
  background-color: white;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  align-items: center;
  display: flex;
}


.queryListTextBox
{
  height: auto;
  width: 80%;
  align-items: center;
  display: flex;
  border-right: 0.4vh solid #50A6C2;
  overflow: hidden;
}

.queryListTextHeading
{
  font-size: 3vh;
  height: 70%;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.queryListLastTextBox
{
  height: auto;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.text
{
  font-size: 2.3vh;
  height: 70%;
  width: 100%;
  text-align: center;
  color: #373737;
}

.queryAcceptButtonDiv
{
    background-color: #373737;
  height: 5vh;
  width: 40%;
  border-color: #0D3AA9;
  border-width: 1%;
}

.acceptButtonRipples 
{
    background-color: white;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: 0;
    border-color: #0D3AA9;
    border-width: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2vh;
    box-shadow: 0 8px 6px -6px black;

}

.acceptButton 
{
    background-color: white;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: 0;
    border-color: #0D3AA9;
    border-width: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2vh;
}

.queryDenyButtonDiv
{
  height: 5vh;
  width: 40%;
  border-color: #0D3AA9;
  border-width: 1%;
}

.denyButtonRipples
{
      background-color: white;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
      box-shadow: 0 8px 6px -6px black;
}

.denyButton
{
      background-color: white;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
}
