.mainContainer
{
    background-image: url('./images/background3.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.innerContainer
{
    background-color: white;
    height: 80vh;
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 15vh;
}

.innerLeftContainer
{
    background-image: url('./images/im2.png');
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 45%;
    border-top-left-radius: 15vh;
    align-items: flex-end;
    display: flex;
    border: 0.3vh solid #0D3AA9;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
}

.innerRightContainer
{
    background-color: white;
    border: 0.3vh solid #0D3AA9;
    height: 80vh;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);

}

.heading
{
   font-size: 6vh;
   height: 5vh;
   width: 29%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   margin-bottom: 10%;
   color:  #5499C7;
   font-weight: bold;
   text-decoration: underline;
}

.inputContainer
{
     height: 5.3vh;
     width: 70%; 
     border-bottom: 0.4vh solid #5499C7;
     margin-bottom: 6%;
     display: flex;
     flex-direction: row;
     align-items: center;
}

.input
{
    background-color: white;
    width: 85%;
    height: 5vh;
    font-size: 2vh;
    border: 0;
    outline: none;
    color: #37352f;
    text-indent: 2%;
}

.user
{
    font-size: 1.75vh;
}

.loginButtonRipples
{
    background-color: #5499C7;
    color: white;
    height: 6.5vh;
    width: 55%;
    border-radius: 20vh;
    margin-top: 3%;
    cursor: pointer;
    outline: 0;
    border: #0D3AA9;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2.5vh;
    box-shadow: 0 8px 6px -6px black;
}

.loginButton
{
    background-color: #5499C7;
    color: white;
    height: 6.5vh;
    width: 55%;
    border-radius: 20vh;
    margin-top: 3%;
    cursor: pointer;
    outline: 0;
    border: #0D3AA9;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2.5vh;
}

.logoContainer
{
    text-align: center;
    margin-bottom: 75%;
}

.logo
{
    height: 30vh;
    width: 50%;
    position: sticky;
}