.mapMainPage
{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}


.mapInnerPage
{
    background-color: none;
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.mapHeader
{
    background-color: #50A6C2;
    height: 12vh;
    width: 100%;
    margin-bottom: 1%;
    align-items: center;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    box-shadow: 0 8px 6px -6px black;
}


.mapLogoImg{
  margin-left: 3vh;
  height: fit-content;
  width: 5%;
}

.mapLogoPic{
  height: 9vh;
  width: 100%;
}


.mapHeaderHeading{
  align-items: center;
  display: flex;
  height: fit-content;
  width: 20%;
}

.mapHeading{
  height: 9vh;
  width: 100%;
}



.mapLogout{
  height: 10vh;
  width: 10%;
  display: flex;
  align-items: center;
  margin-right: 3vh;
}

.mapLogoutButtonRipples
{
    background-color: none;
    color: black;
    height: 5.6vh;
    width: 100%;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    box-shadow: 0 8px 6px -6px black;    
}

.mapLogoutButton
{
    border-color: #0D3AA9;
    border-width: 3px;
    background-color: white;
    color: black;
    height: 5.5vh;
    width: 100%;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
}


.headerBox
{
    background-color: #50A6C2;
    height: 10vh;
    width: 99.5%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.inputBox
{
     height: 4.8vh;
     width: 15%; 
     display: flex;
     align-items: center;
     justify-content: center;
}

.input1
{
    width: 100%;
    height: 4.6vh;
    font-size: 2vh;
    border: 0;
    outline: none;
    color: #37352f;
    text-indent: 2%;
    border: 0.4vh solid #0D3AA9;
}

.searchBar      /*Autoplaces Complete Input*/
{
    height: 5.2vh;
    width: 45%;
    position: sticky;
    margin-left: 0.5%;
    border: 0.4vh solid #0D3AA9;
}
 
.location-search-input
{
  height: 4.5vh;
  width: 98.7%;
  outline: 0; 
}

.autocomplete-dropdown-container
{
  height: 5%;
  width: 100%;
  background-color: white;
}

.dropdownBox
{
     height: 4.8vh;
     width: 14%;
     margin-right: 0.5%;
     border: 0.4vh solid #0D3AA9;
}

.myPlaceholderClassName
{
  font-family: 'Arial';
  color: gray;
  font-size: 2vh;
}

.myMapClassName{
  height: 4.8vh;
  width:100%;
  
}

.myMapControlClassName{
  height: 4.9vh;
  
}

.myMapMenuClassName{
  height: 11vh;

}

.addButtonRipples
{
    background-color: none;
    color: black;
    height: 5.6vh;
    width: 10.7%;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    box-shadow: 0 8px 6px -6px black;
}

.addButton
{
    border-color: #0D3AA9;
    border-width: 3px;
    background-color: white;
    color: black;
    height: 5.5vh;
    width: 100%;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
}



.footerBox
{
    background-color: #50A6C2;
    height: 84.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 6px -6px black;

}

.listBox
{
    border: 0.4vh solid #0D3AA9;
    background-color: #50A6C2;
    height: 72.5vh;
    width: 98%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.listInnerContainer
{
  height: 99%;
  width: 100%; 
  overflow-y: scroll;
  overflow-x: hidden;
}

.mapSingleRow
{
  height: 8%; 
  width: 99%; 
  background-color: white;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  align-items: center;
  display: flex;
  justify-content: space-around
}

.mapText
{
  font-size: 2.2vh;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
}

.mapTextDiv
{
  height: auto;
  width: 90%;
  align-items: center;
  display: flex;
  margin-left: 0.5%;
}

.map-popup-content
{
  background-color: white;
  height: 80vh;
  width: 80%;
  display: block;
  justify-content: center;
  align-items: center;
  border: 0.4vh solid #0D3AA9;
  box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
}

.mapBox
{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.editButton
  {
      background-color: white;
      height: 80%;
      width: 12%;
      margin-right: 1.5%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
  }

  .edit-popup-content
{
  background-color: white;
  height: 60vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.4vh solid #0D3AA9;
  box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
}

.editPopup-InputDropdown
{
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.editDropdownBox
{
     height: 4.8vh;
     width: 30%;
     margin-right: 0.5%;
     border: 0.4vh solid #0D3AA9;
}


.editInputBox
{
     height: 4.8vh;
     width: 28%; 
     display: flex;
     align-items: center;
     justify-content: center;
}


.editPopupButton
  {
      background-color: white;
      height: 55%;
      width: 20%;
      margin-right: 1.5%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
  }

  
.closePopupButton
{
    background-color: white;
    height: 5vh;
    width: 100%;
    cursor: pointer;
    outline: 0;
    border-color: #0D3AA9;
    border-width: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2vh;
}

  .deleteButton
  {
      background-color: white;
      height: 80%;
      width: 12%;
      margin-right: 3%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
  }


