.mapMainPage
{
    /* background-color: aqua; */
    /* background-image: url('./images/background.png');
    background-position: center;
    background-size: cover; */
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}


.mapInnerPage
{
    background-color: none;
    height: 100vh;
    width: 95%;
    /* justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}


.mapHeader
{
    background-color: #50A6C2;
    /* border: 0.4vh solid #012733; */
    height: 12vh;
    width: 100%;
    /* border-bottom-left-radius: 1vh ;
    border-bottom-right-radius: 1vh ; */
    margin-bottom: 1%;
    /* margin-top: 0.5%; */
    /* justify-content: center; */
    align-items: center;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    /* border: 0.4vh solid #026e7a; */
    /* box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 8px 6px -6px black;
}

.mapLogoImg{
  /* margin-left: 3vh; */
  /* background-color: aqua; */
  align-items: center;
  /* justify-content:space-between; */
  display: flex;
  height: fit-content;
  width: 9%;
}
.mapLogoPic{
  height: 10vh;
  width: 100%;
}


.mapHeaderHeading{
  /* margin-left: 3vh; */
  /* background-color: aqua; */
  align-items: center;
  /* justify-content:space-between; */
  display: flex;
  height: fit-content;
  width: 20%;
}

.mapHeading{
  height: 9vh;
  width: 100%;
}



.mapLogout{
  /* background-color: #0D3AA9; */
  height: 10vh;
  width: 10%;
  display: flex;
  align-items: center;
  margin-right: 3vh;
}

.mapLogoutButton
{
    background-color: none;
    color: black;
    height: 5.6vh;
    width: 100%;
    /* margin-left: 10vh; */
    /* border: #0D3AA9; */
    /* border-radius: 10vh; */
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    /* position: relative; */
}

.mapLogoutButton1
{
    border-color: #0D3AA9;
    border-width: 3px;
    background-color: white;
    color: black;
    height: 5.5vh;
    width: 100%;
    /* border: #0D3AA9; */
    /* border-radius: 10vh; */
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    /* position: relative; */
}


.headerBox
{
    background-color: #50A6C2;
    height: 10vh;
    width: 99.5%;
    /* margin-bottom: 1%; */
    /* margin-top: 0.5%; */
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* border: 0.4vh solid #026e7a; */
}

.inputBox
{
     /* background-color: green; */
     height: 4.8vh;
     width: 15%; 
     /* border-bottom: 0.4vh solid #0D3AA9; */
     display: flex;
     align-items: center;
     justify-content: center;
}

.input1
{
    /* background-color: pink; */
    width: 100%;
    height: 4.6vh;
    font-size: 2vh;
    border: 0;
    outline: none;
    color: #37352f;
    text-indent: 2%;
    border: 0.4vh solid #0D3AA9;
}

.searchBar      /*Autoplaces Complete Input*/
{
    /* background-color: red; */
    /* margin-top: 10%; */
    /* margin-bottom: 2%; */
    height: 5.2vh;
    width: 45%;
    position: sticky;
    margin-left: 0.5%;
    border: 0.4vh solid #0D3AA9;
}
 
.location-search-input
{
  height: 4.5vh;
  width: 98.7%;
  outline: 0; 
  /* border: 0;
  color: black;*/
}

.autocomplete-dropdown-container
{
  height: 5%;
  width: 100%;
  background-color: white;
}

.dropdownBox
{
     /* background-color: blueviolet; */
     height: 4.8vh;
     width: 14%;
     margin-right: 0.5%;
     border: 0.4vh solid #0D3AA9;
     /* border-bottom: 0.4vh solid #0D3AA9; */
     /* display: flex;
     align-items: center;
     justify-content: center; */
}

.myPlaceholderClassName
{
  font-family: 'Arial';
  color: gray;
  font-size: 2vh;
}

.myMapClassName{
  /* background-color: pink; */
  height: 4.8vh;
  width:100%;
  
}

.myMapControlClassName{
  /* background-color: red; */
  height: 4.9vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.myMapMenuClassName{
  /* background-color: yellowgreen; */
  height: 11vh;

}

.addButton
{
    background-color: none;
    color: black;
    height: 5.6vh;
    width: 10.7%;
    /* border: #0D3AA9; */
    /* border-radius: 10vh; */
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    /* position: relative; */
}

.addButton1
{
    border-color: #0D3AA9;
    border-width: 3px;
    background-color: white;
    color: black;
    height: 5.5vh;
    width: 100%;
    /* border: #0D3AA9; */
    /* border-radius: 10vh; */
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
    /* position: relative; */
}



.footerBox
{
    background-color: #50A6C2;
    /* border: 0.4vh solid #026e7a; */
    height: 84.5vh;
    width: 100%;
    /* margin-bottom: 0.5%; */
    /* /* justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 6px -6px black;

}

.listBox
{
    border: 0.4vh solid #0D3AA9;
    background-color: #50A6C2;
    height: 72.5vh;
    width: 98%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin-right: 0.8%; */
    /*flex-direction: column; */
    /* position: relative; */
    /* overflow-y: scroll */
}

.listInnerContainer
{
  height: 99%;
  width: 100%; 
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: #50A6C2; */
}

.mapSingleRow
{
  height: 8%; 
  width: 99%; 
  background-color: white;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  align-items: center;
  display: flex;
  justify-content: space-around
  /* justify-content: flex-start; */
}

.mapText
{
  font-size: 2.2vh;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: tomato; */
}

.mapTextDiv
{
  height: auto;
  width: 90%;
  align-items: center;
  display: flex;
  margin-left: 0.5%;
  /* background-color:blue; */
  /* margin-top: 1% */
}

.map-popup-content
{
  background-color: white;
  height: 80vh;
  width: 80%;
  /* position: absolute; */
  display: block;
  justify-content: center;
  align-items: center;
  border: 0.4vh solid #0D3AA9;
  box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
  /* display: flex;
  position: relative; */
}

.mapBox
{
    /* border: 0.4vh solid #0D3AA9; */
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

/* .buttonDiv
{
  height: 80%;
  width: 10%;
  margin-right: 0.5%;
  border-color: #0D3AA9;
  border-width: 1%;
  background-color: violet;
} */

.editButton
  {
      background-color: white;
      /* color: white; */
      height: 80%;
      width: 12%;
      /* border-radius: 20vh; */
      margin-right: 1.5%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
  }

  .edit-popup-content
{
  background-color: white;
  height: 60vh;
  width: 50%;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.4vh solid #0D3AA9;
  box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.2);
  /* display: flex;
  position: relative; */
}

.editPopup-InputDropdown
{
  /* background-color: red; */
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.editDropdownBox
{
     /* background-color: blueviolet; */
     height: 4.8vh;
     width: 30%;
     margin-right: 0.5%;
     border: 0.4vh solid #0D3AA9;
     /* border-bottom: 0.4vh solid #0D3AA9; */
     /* display: flex;
     align-items: center;
     justify-content: center; */
}


.editInputBox
{
     /* background-color: green; */
     height: 4.8vh;
     width: 28%; 
     /* border-bottom: 0.4vh solid #0D3AA9; */
     display: flex;
     align-items: center;
     justify-content: center;
}


.editPopupButton
  {
      background-color: white;
      /* color: white; */
      height: 55%;
      width: 20%;
      /* border-radius: 20vh; */
      margin-right: 1.5%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
  }

  
.closePopupButton
{
    background-color: white;
    /* color: white; */
    height: 5vh;
    width: 100%;
    /* border-radius: 20vh; */
    /* margin-right: 1.5%; */
    cursor: pointer;
    outline: 0;
    border-color: #0D3AA9;
    border-width: 3px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2vh;
}

  .deleteButton
  {
      background-color: white;
      /* color: white; */
      height: 80%;
      width: 12%;
      /* border-radius: 20vh; */
      margin-right: 3%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
  }


