.fineMainDiv
{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}


.fineInnerDiv
{
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}


.fineHeader
{
    background-color:#50A6C2;
    height: 12vh;
    width: 100%;
    margin-bottom: 1%;
    box-shadow: 0 8px 6px -6px black;
    align-items: center;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
}

.fineLogoImg{
  margin-left: 3vh;
  height: fit-content;
  width: 5%;
}
.fineLogoPic{
  height: 9vh;
  width: 100%;
}

.fineLogout{
  height: 10vh;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3vh;
}

.fineLogoutButtonRipples
{
    background-color: none;
    color: black;
    height: 5.6vh;
    width: 100%;
    cursor: pointer;
    outline: 0;
    display: flex;
    font-size: 2.5vh;
    box-shadow: 0 8px 6px -6px black;
  }

.fineLogoutButton
{
    border-color: #0D3AA9;
    border-width: 3px;
    background-color: white;
    color: black;
    height: 5.5vh;
    width: 100%;
    cursor: pointer;
    outline: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5vh;
}

.fineFooter
{
    height: 84vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 9px 4px -4px black;
}

.fine
{
    background-color: #50A6C2;
    border: 0.2vh solid #026e7a;
    height: 84vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.listInnerContainer
{
  height: 99%;
  width: 100%; 
overflow-y: scroll;
  overflow-x: hidden;
}

.rows
{
  height: 8%; 
  width: 99%; 
  background-color: white;
  margin-top: 0.2%;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  align-items: center;
  display: flex;
}

.text
{
  font-size: 2.3vh;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #373737;
}

.textHeading
{
  font-size: 3vh;
  height: 70%;
  width: 100%;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBox
{
  height: auto;
  width: 80%;
  align-items: center;
  display: flex;
  border-right: 0.4vh solid #50A6C2;
}


.textHeadingBox
{
  height: auto;
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}


.violationPaidButtonDiv
{
  background-color: #373737;
  height: 5vh;
  width: 40%;
  border-color: #0D3AA9;
  border-width: 1%;
}



.paidButtonRipples
  {
      background-color: white;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
      box-shadow: 0 8px 6px -6px black;

  }

  .paidButton
  {
      background-color: white;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: 0;
      border-color: #0D3AA9;
      border-width: 3px;
      align-items: center;
      justify-content: center;
      display: flex;
      font-size: 2vh;
  }


